In [1]:
# 실습 과제
# https://finance.daum.net/exchanges
# headers에 referer, user-agent 설정해줘야 함

In [1]:
import pandas as pd
import requests

In [2]:
# 1. 웹서비스 분석: 크롬 개발자 도구 사용 -> URL, method 알아내기, 동적 페이지이므로 JSON 포맷의 str 타입 데이터를 받아옴

url = 'https://finance.daum.net/api/exchanges/FRX.KRWUSD/days?perPage=10&page=2&pagination=true'
headers = {'referer': 'https://m.finance.daum.net/', 
           'user-agent': 'Mozilla/5.0'}

In [3]:
# 2. Request > response

response = requests.get(url, headers=headers)
print(response) # 200이면 성공!

<Response [200]>

In [6]:
# 3. JSON(str) > list, dict > DataFrame

data = response.json()
# data
# data['data']

In [6]:
df = pd.DataFrame(data['data'])[['date', 'basePrice']] # 날짜, 종가 
df.head()

                  date  basePrice
0  2022-07-21 23:19:42     1315.0
1  2022-07-20 23:53:08     1312.0
2  2022-07-19 23:36:23     1309.0
3  2022-07-18 23:45:08     1315.5
4  2022-07-15 21:49:49     1325.0

In [ ]:
# 4. 함수 만들기

In [7]:
def exchange_rate(perPage, page, code = 'USD'):
    
    """ This function is crawling exchange rate from daum webpage.
    
    Params
    ------
    perPage : int : one page size
    page : int : page number
    code : str : USD, JPY, CNY, or EUR
    
    Return
    ------
    type : DataFrame : display date, price columns
    """
    
    url = f'https://finance.daum.net/api/exchanges/FRX.KRW{code}/days?perPage={perPage}&page={page}&pagination=true'
    headers = {'referer': 'https://m.finance.daum.net/', 
               'user-agent': 'Mozilla/5.0'}
    
    response = requests.get(url, headers=headers)
    data = response.json()
    df = pd.DataFrame(data['data'])[['date', 'basePrice']]
    
    return df

In [8]:
usd = exchange_rate(60,1) # 최근 60일치 원달러 환율 데이터
eur = exchange_rate(60, 1, 'EUR')
jpy = exchange_rate(60, 1, 'JPY')
cny = exchange_rate(60, 1, 'CNY')

In [10]:
display(usd.tail(3))
display(eur.tail(3))
display(jpy.tail(3))
display(cny.tail(3))

                   date  basePrice
57  2022-05-13 20:01:14     1284.0
58  2022-05-12 20:00:49     1290.5
59  2022-05-11 20:02:00     1274.5

                   date  basePrice
57  2022-05-13 20:01:13    1333.82
58  2022-05-12 20:00:48    1347.02
59  2022-05-11 20:01:59    1343.77

                   date  basePrice
57  2022-05-13 20:01:13     995.46
58  2022-05-12 20:00:48    1002.68
59  2022-05-11 20:02:00     981.55

                   date  basePrice
57  2022-05-13 20:01:13     188.65
58  2022-05-12 20:00:47     189.48
59  2022-05-11 20:01:59     189.10

In [2]:
url = 'https://finance.daum.net/api/exchanges/summaries'
headers = {'referer': 'https://m.finance.daum.net/', 'user-agent': 'Mozilla/5.0'}

In [3]:
response = requests.get(url, headers=headers)
print(response)

<Response [200]>

In [8]:
data = response.json()
data['data'][0]

{'symbolCode': 'FRX.KRWUSD',
 'date': '2022-08-03 18:25:47',
 'currencyCode': 'USD',
 'currencyName': '달러',
 'currencyUnit': 1,
 'country': '미국',
 'region': {'korName': '아메리카', 'engName': 'America'},
 'name': '미국 (KRW/USD)',
 'recurrenceCount': 419,
 'basePrice': 1310.5,
 'change': 'FALL',
 'changePrice': 1.5,
 'changeRate': 0.0011432927,
 'cashBuyingPrice': 1333.43,
 'cashSellingPrice': 1287.57,
 'ttBuyingPrice': 1297.7,
 'ttSellingPrice': 1323.3,
 'tcBuyingPrice': None,
 'fcSellingPrice': None,
 'exchangeCommission': 4.1352,
 'usDollarRate': 1.0,
 'chartImageUrl': {'day': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/d/FRX.KRWUSD.png',
  'month': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m/FRX.KRWUSD.png',
  'month3': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/m3/FRX.KRWUSD.png',
  'year': 'https://t1.daumcdn.net/finance/chart/kr/daumforex/y/FRX.KRWUSD.png'}}

In [9]:
df = pd.DataFrame(data['data'])[['date', 'currencyCode', 'currencyName', 'country', 'name', 'basePrice']]
df.head()

,date,currencyCode,currencyName,country,name,basePrice
0,2022-08-03 18:25:47,USD,달러,미국,미국 (KRW/USD),1310.50
1,2022-08-03 18:25:47,JPY,엔,일본,일본 (KRW/JPY100),984.78
2,2022-08-03 18:25:46,CNY,위안,중국,중국 (KRW/CNY),193.90
3,2022-08-03 18:25:46,EUR,유로,유로,유로 (KRW/EUR),1335.66
4,2022-08-03 18:25:47,GBP,파운드,영국,영국 (KRW/GBP),1597.17